.DS_Store
Thumbs.db

node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

.env
.env.*
*.key
*.pem

artifacts/
cache/
out/
build/
typechain/
typechain-types/
coverage/

.idea/
.vscode/
*.swp
*.swo
*~

.remix/.cache/
.remix/.solhintcache
.remix/.deps/
